*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header{
    min-height: 15vh;
    width: 100%;
    background-color: #013880;
    top: 0;
    position: sticky;
}
nav{
    display: flex;
    padding: 1% 3%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 70px;
    padding-right: 8px;
    position: relative;
}
.nav-title{
    flex: 1;
    text-align: left;
}
.nav-title a{
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
}
.nav-links{
    flex: 3;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    min-height: auto;
    padding: 4px 10px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
.nav-links ul li ul a{
    font-size: 15px;
}
.nav-links ul ul{
    color: #fff;
    display: none;
    z-index: 1; /*bikin dropdownnya di depan konten */
}
.nav-links ul li:hover > ul{
    display: block;
    background-color: #013880;   
    position: absolute;  
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #ECE608;
    display: block;
    margin: auto;
    transition: 0.5s;  
}
.nav-links ul li:hover::after{
    width: 100%;
}
nav .fa{
    display: none;
}
.text-box{
    margin-left: 5%;
    margin-right: 5%;
}
.text-box h1{
    padding: 1%;
    font-weight: 500;
    font-size: 30px;
}
.text-box h2{
    display: block;
    color: rgb(0, 0, 0);
    padding: 24px 45px;
    font-size: 18px;
    font-weight: 400;
    background: #B5B8B8;
}
.text-box p{
    display: block;
    color: rgb(0, 0, 0);
    padding: 24px 45px;
    font-size: 18px;
    text-align: center;
    font-weight: 400;
    background: #B5B8B8;
}
.text-box2 {
    margin-left: 5%;
    margin-right: 5%;
}
.text-box2 h2 {
    display: block;
    color: rgb(0, 0, 0);
    padding: 24px 45px;
    font-size: 18px;
    font-weight: 400;
    background: #B5B8B8;
    
}
.text-box2 p {
    display: block;
    color: rgb(0, 0, 0);
    padding: 24px 45px;
    font-size: 18px;
    text-align: left;
    font-weight: 400;
    background: #B5B8B8;
    
}
.text-box2 h1{
    padding: 1%;
    font-weight: 500;
    font-size: 30px;
}
.content {
    margin-left: 30%;
    margin-right: 30%;    
    top: 200px;
    display: block;
    background: #FFFFFF;
    padding: 5%;
    box-shadow: 6px 7px 4px rgba(0, 0, 0, 0.25);
    border-radius: 35px;
    position: relative;
    align-items: center;   
}
.text-box3 a {
    text-align: center;
    padding: 3%;
    margin-left: 20%;
    margin-right: 20%;   
    display: block;
    background-color: #B5B8B8;
    border-radius: 35px;
    position: relative;
}

.header1{
    left: 0px;
    top: 0px;
    min-height: 100vh;
    width: 100%;
    background-color: #013880;
    position: absolute;
}

@media(max-width: 700px){
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #5e5e5e;
        height: 100vh;
        width: 170px;
        top: 0;
        right: -170px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #000000;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 20px;
    }
}